<div class="photo-call">
   <div class="photo-change" id="change">
    
      <label for="file-input">
      <%=  profile_photo  %>
      </label>

      <%=form_with url: user_path(id: current_user.id), id: 'photo-form', method: :patch do |f|%>
         <%= f.file_field :photo, id:"file-input" %>
      <%end%> 
   </div>
</div>

