<div class="media align-items-center mt-3">
  <div class="dp-container">
    <%= display_profile_photo(user) %>
  </div>
  <div class="media-body ml-3">
    <%= link_to user_path(user), class: "text-dark" do %>
      <strong><%=user.fullname%></strong>
    <%end%>
  </div>
</div>
