<div class="media align-items-center mt-3">
  <div class="dp-container">
    <%= display_profile_photo(user) %>
  </div>
  <div class="media-body ml-3">
    <strong><%=user.fullname%></strong>
  </div>
</div>
