$font-family-sans-serif: 'Nunito', lato, system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$primary: #54a9ea;
$dark: #1b2c3c;
$secondary: #677d92;

.form-section {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 450px;
}

.photo-change{

  label{
  width: 95px;
  height: 95px;
  position: absolute;
  top: -50%;

  img {
    width: 99%;
    height: 99%;
    object-fit: cover;
    border-radius: 50%;
  }


  }

  input {
    display: none;
  }
}

.image-upload-cover{
  padding: 20%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cover-input {
    display: none;
}

.opinions {
  width: 95%;
}

#profile {
  label {
    position: relative;
  }
}
