body {
  height: 100vh;
}

.bg-white {
  background: #fff;
}
.side-menu {
  position: absolute;
  top: 50px; /* Height of navbar */
  bottom: 0;
  left: -100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #343a40;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  z-index: 10;
}
.side-menu.open {
  visibility: visible;
  transform: translateX(100%);
}

@media (min-width: 992px) { 

  .side-menu {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    visibility: visible;
    bottom: 0;
    overflow: hidden;
  }

  .content{
    margin-left: 300px;
  }

  .who-to-follow-container {
    border-left: 1px solid #dcdddf;
  }

  .coverimage-container{
    margin-right: -15px;
    margin-left: -15px;
  }

  .opinions-user {
    width: 100%;
  }

}
