
@import 'users';
@import 'welcome';
@import 'custom';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import '~bootstrap/scss/bootstrap';

.alert-alert {
  @extend .alert-danger;
}
