<nav class="navbar bg-primary justify-content-between justify-content-lg-end p-3">
   <button class="navbar-toggler p-0 border-0 d-lg-none" type="button" data-bs-toggle="side-menu" aria-label="Toggle navigation">
    <i class="fas fa-bars text-secondary menu-icon"></i>
    </button>

    <div class="icons d-flex">
      <i class="fas fa-pencil-alt text-secondary mr-4"></i>
      <i class="fas fa-envelope text-secondary mr-4"></i>
      <i class="fas fa-search text-secondary mr-4"></i>
      <i class="fas fa-cog text-secondary"></i>
    </div>
</nav>

